
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: block;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 260px;
  min-height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 19px;
  padding-right: 19px;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f0c52e, #f0c52e);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom, #f0c52e, #f0c52e);
}

.slider1-button {
  width: 220px;
}

.filter-button,
.item-popup-button {
  width: 200px;
}

.main-header {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 40px;
}

.main-navigation {
  position: relative;
  background-color: #f7e397;
  min-height: 86px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 47px;
  padding-top: 18px;
}

.main-navigation-inner {
  margin-bottom: 0px;
}

.main-logo {
  position: absolute;
  top: -17px;
  left: 60px;
  width: 163px;
  height: 35px;
}

.main-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 12px;
}

.main-navigation-user-search {
  margin: 0;
  width: 460px;
}

.main-navigation-user-search p {
  display: flex;
}

.main-navigation-user-search-input {
  position: relative;
  margin: 0;
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
  width: 355px;
  height: 49px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  opacity: 0.3;
  padding-left: 40px;
  box-sizing: border-box;
}

.main-navigation-user-search-input:hover {
  opacity: 0.6;
}

.main-navigation-user-search-input:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
  outline: 1px transparent;
}

.main-navigation-user-search p::before {
  position: absolute;
  content: "";
  top: 51px;
  left: 63px;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-button {
  display: none;
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
  background-color: transparent;
  border: 2px solid #000000;
  width: 85px;
  min-height: 49px;
  box-sizing: border-box;
}

.main-navigation-user-search-input:focus + .search-button {
  display: block;
}

.search-button:hover {
  color: #fff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation-user-wrapper {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-left:auto;
}

.main-navigation-user {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
}

.main-navigation-user-login::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation-user a,
.main-navigation-user-item {
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
}

.main-navigation-user a {
  position: relative;
  padding-left: 26px;
}

.main-navigation-user-item {
  box-sizing: border-box;
  width: 120px;
}

.main-navigation-user-item.compare {
  position: relative;
  padding-right: 2px;
  padding-left: 47px;
}

.main-navigation-user-item.compare::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 27px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation-user-item.busket {
  position: relative;
  padding-left: 61px;
}

.main-navigation-user-item.busket::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 37px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation-user-logout a  {
  color: rgba(0, 0, 0, 0.3);
  padding-left: 22px;
}

.main-navigation-user-login:hover::before,
.main-navigation-user-login:focus::before,
.main-navigation-user-item.compare:hover::before,
.main-navigation-user-item.busket:hover::before,
.main-navigation-user-item.compare:focus::before,
.main-navigation-user-item.busket:focus::before {
  opacity:0.6;
}

.main-navigation-user-login:active::before,
.main-navigation-user-item.compare:active::before,
.main-navigation-user-item.busket:active::before {
  opacity:0.3;
}

.main-navigation-user a:hover,
.main-navigation-user-item:hover,
.main-navigation-user a:focus,
.main-navigation-user-item:focus  {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation-user a:active,
.main-navigation-user-item:active,
.main-navigation-user a:active,
.main-navigation-user-item:active  {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-site {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1040px;
  padding-bottom: 0px;
}

.main-navigation-catalog {
  position: relative;
}

.main-navigation-site-dropdown-item {
  padding-right: 26px;
}

.main-navigation-catalog::after {
  position: absolute;
  content: "";
  top: 3px;
  right: -27px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-navigation-site-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.main-navigation-site-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}

.main-navigation-site-menu li {
  margin-right: 33px;
}

.main-navigation-site-menu li:nth-child(2) {
  margin-right: 87px;
}

.main-navigation-site-menu li:nth-child(3) {
  margin-right: 0px;
  width: 140px;
  text-align: right;
}

.main-navigation-site-menu-contactslink {
  padding-left: 20px;
}

.main-navigation-site a {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-navigation-site a:hover,
.main-navigation-site a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation-site a:active  {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-site-submenu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1160px;
  left: -60px;
  background-color: #f7e397;
  z-index: 10;
  padding-bottom: 33px;
}

.main-navigation-site-dropdown-item:hover .main-navigation-site-submenu {
  display: block;
}

.main-navigation-site-submenu > li {
  display: flex;
  width: 600px;
  padding-left: 60px;
}

.main-navigation-site-submenu-category {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 19px;
}

.main-navigation-site-submenu-category:nth-child(2) li {
  padding-left: 38px;
}

.main-navigation-site-submenu-category li {
  width:200px;
}

.main-navigation-site-submenu a {
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;
}

.slider1 {
  position: relative;
  margin-bottom: 94px;
}

.slider1::before {
  position: absolute;
  content: "";
  background-color: #f7e397;
  width: 1160px;
  height: 113px;
  z-index: -1;
}

.slider1-controls {
  position: absolute;
  display: flex;
  right: 56px;
  bottom: 155px;
  z-index: 100;
  width: 120px;
}

.slider1-controls label {
  width: 12px;
  height: 12px;
  margin-left: 12px;
  padding: 4px;
  cursor: pointer;
  background-image: url("../img/slider-button-empty.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider1-toggle-1:checked ~ .slider1-list .slider1-item:nth-child(1),
.slider1-toggle-2:checked ~ .slider1-list .slider1-item:nth-child(2),
.slider1-toggle-3:checked ~ .slider1-list .slider1-item:nth-child(3) {
  display: block;
}

.slider1-toggle-1:checked ~ .slider1-controls label:nth-child(1),
.slider1-toggle-2:checked ~ .slider1-controls label:nth-child(2),
.slider1-toggle-3:checked ~ .slider1-controls label:nth-child(3) {
  background-image: url("../img/slider-button.svg");
}

.slider1-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider1-item {
  display: none;
  min-height: 500px;
  width: 502px;
  padding-left: 600px;
}

.slider1-item:nth-child(1) {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: left 90px top 2px;
}

.slider1-item:nth-child(2) {
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: left 116px top 14px;
}

.slider1-item:nth-child(3) {
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
  background-position: left 32px top 67px;
}

.slider1-header {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.47px;
  padding-top: 80px;
  margin-bottom: 20px;
}

.slider1-header::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 100px;
  height: 7px;
  z-index: -1;
  top: 39px;
}

.slider1-text {
  margin: 0;
  font: inherit;
  letter-spacing: 0.15px;
  max-width: 490px;
  margin-bottom: 43px;
}

.slider1-item:nth-child(2) .slider1-text {
  max-width: 460px;
}

.slider1-item:nth-child(3) .slider1-text {
  max-width: 460px;
}

.slider1-item .slider1-number {
  position: absolute;
  top: -190px;
  right: 47px;
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  letter-spacing: 1.79px;
  z-index: -1;
}

.slider1-button {
  margin-bottom: 50px;
}

.slider1-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slider1-table-number {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.slider1-table-text {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  padding-top: 50px;
}

.slider1-table-number td {
  min-width: 158px;
}

.slider1-table-number td:nth-child(2)  {
  min-width: 137px;
}

.slider1-table-text td {
  padding-top: 5px;
}

.goods {
  margin-bottom: 154px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-item {
  width: 160px;
  line-height: 24px;
}

.goods-item-container {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.goods-item-container1 img {
  margin-left: 31px;;
  margin-top: 52px;
  width: 97px;
  height: 55px;
}

.goods-item-container2 img {
  margin-left: 38px;;
  margin-top: 41px;
  width: 86px;
  height: 117px;
}

.goods-item-container3 img {
  margin-left: 49px;;
  margin-top: 38px;
  width: 71px;
  height: 87px;
}

.goods-item-container4 img {
  margin-left: 28px;;
  margin-top: 50px;
  width: 107px;
  height: 65px;
}

.goods-item-container5 img {
  margin-left: 55px;;
  margin-top: 32px;
  width: 56px;
  height: 98px;
}

.goods-item-container6 img {
  margin-left: 13px;;
  margin-top: 49px;
  width: 132px;
  height: 69px;
}

.goods-item-link:hover .goods-item-container,
.goods-item-link:focus .goods-item-container {
  background-color: rgba(240, 197, 46, 1);
}

.goods-item-link:active .goods-item-container {
  /* background-image:none; */
  background-color: rgba(240, 197, 46, 1);
}

.goods-item-link:active .goods-item-title,
.goods-item-link:active .goods-item-image {
  opacity: 0.3;
}

.goods-item h3 {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}


.slider2 {
  /* background-color: #e5e5e5; */
  background-image: linear-gradient(to bottom, transparent 27px, #e5e5e5 27px, #e5e5e5 100%, transparent 100%);
  width: 100%;
  min-height: 315px;
  margin-bottom: 94px;
}

/* .slider2-container {
  position: relative;
} */

.slider2-wrapper {
  /* position: absolute;
  top: -27px; */
  display: flex;
}

.slider2-controls-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
}

.slider2-controls-list::after {
  position: absolute;
  content: "";
  top: -73px;
  right: 116px;
  background-color: #000000;
  width: 7px;
  height: 319px;
}

.slider2-controls-item {
  width: 278px;
}

.slider2-button {
  position: relative;
  width: 160px;
  margin-top: 7px;
  margin-bottom: 24px;
  padding-left: 23px;
  cursor: pointer;
}

.slider2-button.checked,
.slider2-button:active {
  background-color: #000000;
  background-image: none;
  color: #f7e184;

}
.slider2-button.checked::after,
.slider2-button:active::after {
  position: absolute;
  content: "";
  top: 0;
  right: -118px;
  background-color: #000000;
  min-width: 118px;
  min-height: 40px;
  border: 0;
}

.slider2-controls-item:nth-child(1) .slider2-button.checked {
  padding-left: 19px;
}

.slider2-controls-item:nth-child(2) .slider2-button.checked {
  padding-left: 29px;
}

.slider2-controls-item:nth-child(3) .slider2-button.checked {
  padding-left: 29px;
}

.slider2-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider2-item {
  position: relative;
  width: 460px;
  padding-right: 240px;
  padding-bottom: 20px;
}

.slider2-item:nth-child(1)::after {
  position: absolute;
  content: "";
  top: 12px;
  right: 6px;
  background-color: transparent;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  border: 0;
}

.slider2-item:nth-child(2)::after {
  position: absolute;
  content: "";
  top: -12px;
  right: -14px;
  background-color: transparent;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  width: 171px;
  height: 194px;
  border: 0;
}

.slider2-item:nth-child(3)::after {
  position: absolute;
  content: "";
  top: -12px;
  right: 10px;
  background-color: transparent;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  width: 156px;
  height: 186px;
  border: 0;
}

.slider2-item:nth-child(2) {
  display: none;
}

.slider2-item:nth-child(3) {
  display: none;
}

.slider2-header {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  margin-bottom: 30px;
}

.slider2-item p {
  margin: 0;
  font: inherit;
  letter-spacing: 0.15px;
}

.slider2-item:nth-child(3) p {
  width: 425px;
}

.producers {
  margin-bottom: 106px;
}

.producers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.producers-item {
  width: 260px;
  height: 100px;
}

.dji:hover {
  background-image: url("../img/producers-item1.png");
}

.spgadgets:hover {
  background-image: url("../img/producers-item2.png");
}

.gopro:hover {
  background-image: url("../img/producers-item3.png");
}

.vive:hover {
  background-image: url("../img/producers-item4.png");
}

.description-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

.about-us {
  width: 472px;
}

.about-us h2 {
  position: relative;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  margin-bottom: 44px;
}

.about-us h2::before {
  position: absolute;
  content: "";
  background-color: #000;
  width: 80px;
  height: 7px;
  top: -52px;
}

.about-us-text {
  margin: 0;
  font: inherit;
  margin-bottom: 30px;
}

.about-us-text:last-of-type {
  margin-bottom: 65px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 54px;
  padding-left: 36px;
}

.about-us-item {
  position: relative;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.about-us-item::before {
  position: absolute;
  content: "";
  top: 16px;
  left: -34px;
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts {
  width: 560px;
}

.contacts h2 {
  position: relative;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  margin-bottom: 44px;
}

.contacts h2::before {
  position: absolute;
  content: "";
  background-color: #000;
  width: 80px;
  height: 7px;
  top: -52px;
}

.contacts-text {
  margin: 0;
  font: inherit;
  margin-bottom: 38px;
}

.contacts-map {
  margin: 0;
  width: 560px;
  height: 222px;
  background-color: #e9e9e9;
  margin-bottom: 69px;
}

.main-footer {
  background-color: #464646;
  width: 100%;
  padding-top: 65px;
  padding-bottom: 66px;
}

.footer-columns {
  position: relative;
  display: flex;
}

.footer-columns::after {
  position: absolute;
  content: "";
  background-color: #ffc600;
  width: 80px;
  height: 7px;
  bottom: 13px;
  left: 20px;
}

.footer-contacts {
  width: 260px;
}

.footer-contacts-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-bottom: 30px;
}

.footer-contacts p {
  margin: 0;
  font: inherit;
  color: #ffffff;
}

.footer-navigation-site {
  width: 428px;
  margin-top: 68px;
  margin-left: 107px;
}

.footer-navigation-site-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 60px;
}

.footer-navigation-site-list a {
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-navigation-site-list a:hover,
.footer-navigation-site-list a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation-site-list a:active  {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 140px;
  margin: 0 auto;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
}

.button-fb {
  background-image: url("../img/fb.svg");
}

.button-insta {
  background-image: url("../img/instagram.svg");
}

.button-tw {
  background-image: url("../img/twitter.svg");
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.footer-navigation-user {
  width: 180px;
  margin-left: auto;
}

.footer-navigation-user-wrapper {
  position: absolute;
  top: -6px;
  right: 20px;
  display: flex;
  min-width: 480px;
}

.footer-navigation-user-list {
  display: flex;
  justify-content: flex-end;
  min-width: 240px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-user-list li {
  padding-left: 8px;
  padding-right: 13px;
}

.footer-navigation-user-list li:first-child {
  padding-left: 30px;
}

.footer-navigation-user-login a {
  position: relative;
}

.footer-navigation-user-login a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 5px;
  left: -28px;
  background: transparent;
  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-navigation-user-item.compare {
  position: relative;
}

.footer-navigation-user-item.compare::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 28px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-navigation-user-item.busket {
  position: relative;
}

.footer-navigation-user-item.busket::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 37px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-navigation-user-wrapper a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-align: right;
}

.footer-navigation-user-wrapper > a {
  min-width: 120px;
  padding-left: 40px;
  box-sizing: border-box;

}

.footer-navigation-user-logout a  {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation-user-login a:hover::before,
.footer-navigation-user-login a:focus::before,
.footer-navigation-user-item.compare:hover::before,
.footer-navigation-user-item.busket:hover::before,
.footer-navigation-user-item.compare:focus::before,
.footer-navigation-user-item.busket:focus::before {
  opacity:0.6;
}

.footer-navigation-user-login a:active::before,
.footer-navigation-user-item.compare:active::before,
.footer-navigation-user-item.busket:active::before {
  opacity:0.3;
}


.footer-navigation-user-wrapper a:hover,
.footer-navigation-user-wrapper a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-navigation-user-wrapper a:active  {
  color: rgba(255, 255, 255, 0.3);
}

.footer-phone {
  display: block;
  font: inherit;
  color: #ffffff;
  text-align: right;
  margin-top: 65px;
  margin-bottom: 62px;
}

.footer-htmlacademy-logo {
  display: block;
  width: 27px;
  height: 35px;
  margin-left: auto;
}

.footer-navigation-user .footer-htmlacademy-logo:hover,
.footer-navigation-user .footer-htmlacademy-logo:focus {
  opacity: 0.6;
}

.footer-navigation-user .footer-htmlacademy-logo:active {
  opacity: 0.3;
}

.modal-write-us {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -277px;
  box-sizing: border-box;
  z-index: 10;
  padding: 92px 100px;
  padding-bottom: 0px;
  background-color: #ffffff;
  width: 960px;
  min-height: 553px;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
  margin: 0;
  margin-bottom: 33px;
  box-sizing: border-box;
  color: rgba(70, 70, 70, 0.4);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f2f2f2;
  border: none;
}

.write-us-form label {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 8px;
}

.write-us-form p {
  margin: 0;
}

.modal-user-details {
  max-width: 360px;
}

.write-us-input {
  width: 360px;
  height: 50px;
  padding-left: 19px;
}

.write-us-form textarea {
  width:760px;
  padding-top: 15px;
  padding-left: 19px;
  padding-bottom: 13px;
  min-height: 156px;
  resize: vertical;
  margin-bottom: 32px;
}

.write-us-button {
  width: 200px;
  box-sizing: border-box;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #eaeaea;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  border: 3px solid #f0c52e;
  background-color: #ffffff;
  color: #464646;
}

.write-us-form input:invalid,
.write-us-form textarea:invalid {
  background-color: #f6dada;
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 23px;
  right: 22px;
  border: none;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  cursor: pointer;
  z-index: 10;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}


.modal-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -280px;
  z-index: 10;
  background-color: #e9e9e9;
  width: 960px;
  height: 559px;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.modal-map iframe {
  position: absolute;
  border: none;
  width: 960px;
  height: 559px;
  z-index: 2;
}

.modal-map p {
  position: absolute;
  margin: 0;
  z-index: 1;
}


.modal-write-us-show,
.modal-map-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}



/* страница каталога */

.inner-logo:hover,
.inner-logo:focus {
  opacity: 0.6;
}

.inner-logo:active {
  opacity: 0.3;
}

.page-title {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  margin-top: 37px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 60px;
  margin-bottom: 44px;
}

.breadcrumbs a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li {
  position: relative;
  padding-right: 39px;
}

.breadcrumbs li:nth-child(2) {
  padding-right: 35px;
}

.breadcrumbs li::after {
  position: absolute;
  content: "";
  top: 13px;
  right: 19px;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:last-child::after {
display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus  {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active  {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-wrapper {
  display: flex;
}

.filters {
  flex-grow: 1;
}

.filters-form-header-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: #dcdcdc;
}

.filters h2 {
  display: block;
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  background-color: #d9d9d9;
  min-height: 70px;
  width: 328px;
  padding-top: 23px;
  padding-left: 62px;
  box-sizing: border-box;
}

.filter-form-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: #efefef;
}

.filter {
  margin: 0;
  margin-top: 69px;
  width: 328px;
  padding-left: 48px;
  box-sizing: border-box;
}

.filter fieldset {
  border: none;
  margin: 0;
}

.filter legend {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter-price-range {
  position: relative;
}

.filter-price-range::before {
  position: absolute;
  content: "";
  background-color: #000;
  width: 201px;
  height: 2px;
  top: 0px;
}

.filter-price-range::after {
  position: absolute;
  content: "";
  background-color: #000;
  width: 201px;
  height: 2px;
  bottom: -23px;
}

.filter-price-range legend {
  padding-top: 12px;
  margin-bottom: 20px;
}

.price-range-container {
  box-sizing: border-box;
  width: 200px;
}

.range-controls {
  position: relative;
  min-height: 22px;
}

.range-controls::before,
.range-controls::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 6px;
  padding: 0;
}

.range-controls::before {
  content: "";
  width: 196px;
  height: 2px;
  background-color: #dbdbdb;
}

.range-controls::after {
  content: "";
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 0px;
  width: 20px;
  height: 22px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
}

.range-controls .toggle-min {
  left: -4px;
}

.range-controls .toggle-max {
  left: 109px;
}

.filter-price-range ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter-price label {
  display: block;
  width: 90px;
}

.price-input {
  margin: 0;
  width: 70px;
  box-sizing: border-box;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  border: none;
  background-color: transparent;
}

.filter-price label,
.price-input {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.filter-colour {
  position: relative;
}

.filter-colour::after {
  position: absolute;
  content: "";
  background-color: #000;
  width: 201px;
  height: 2px;
  bottom: 0px;
}

.filter-colour legend {
  padding-top: 33px;
  margin-bottom: 13px;
}

.filter-colour ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 24px;
}

.filter-colour .filter-option {
  padding-left: 38px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 8px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -39px;
  top: 8px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 0.6;
}

.filter-input-checkbox:active + label::before,
.filter-input-checkbox:checked:active + label::after {
  opacity: 1;
}

.filter-bluetooth legend {
  padding-top: 10px;
  margin-bottom: 13px;
}

.filter-bluetooth ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-bluetooth .filter-option {
  padding-left: 38px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 6px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  display: none;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -39px;
  top: 6px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  opacity: 0.6;
}

.filter-input-radio:active + label::before,
.filter-input-radio:checked:active + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  color: #a6a6a6;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::after,
.filter-input-radio:disabled + label::after {
  opacity: 0.25;
}

.filter-input-checkbox:checked:disabled + label::before,
.filter-input-radio:checked:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-radio:checked:disabled + label::after {
  opacity: 0.25;
}

.filter-button {
  margin-top: 21px;
  margin-left: 12px;
}

.catalog {
  flex-grow: 1;
}

.catalog-header-wrapper {
  display: flex;
  background-color: #ebebeb;
  margin-bottom: 69px;
}

.catalog-sort {
  display: flex;
  min-height: 70px;
  width: 832px;
}

.catalog-sort-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 55px;
  width: 100%;
}

.catalog-sort-title {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin-top: 23px;
  margin-left: 74px;
}

.catalog-sort-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-sort-item a {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-right: 30px;
}

.catalog-sort-item a:hover,
.catalog-sort-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort-item a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-sort-arrows-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}

.catalog-sort-arrows-down a {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
  margin-left: 19px;
}

.catalog-sort-arrows-up a {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.catalog-sort-item.active a,
.catalog-sort-arrows-down.active a,
.catalog-sort-arrows-up.active a {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
}

.catalog-sort-arrows-down a:active,
.catalog-sort-arrows-up a:active {
  opacity: 1;
}

.catalog-sort-arrows-down a:hover,
.catalog-sort-arrows-up a:hover,
.catalog-sort-arrows-down a:focus,
.catalog-sort-arrows-up a:focus {
  opacity: 0.4;
}


.catalog-main-wrapper {
  display: flex;
  background-color: #fff;
}

.catalog-list-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 832px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-top: 46px;
}

.catalog-item:nth-child(1),
.catalog-item:nth-child(2) {
  margin-top: 0px;
}

.catalog-item-image {
  background-color: #eeeeee;
  margin: 0;
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}

.catalog-item-new {
  position: absolute;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.71;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  top: 47px;
  right: 38px;
}

.catalog-item-new::before {
  position: absolute;
  content: "";
  border: 2px solid #000000;
  border-radius: 50%;
  width: 60px;
  height: 61px;
  box-sizing: border-box;
  opacity: 0.1;
  top: -18px;
  right: -11px;
}

.catalog-item-price {
  display: flex;
  justify-content: space-between;
}

.catalog-item-price-title {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  width: 260px;
}

.catalog-item:nth-child(2) .catalog-item-price-title {
  width: 230px;
}

.catalog-item span {
  color: #464646;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
  width: 100px;
  text-align: right;
}

.catalog-item-popup {
  display: none;
  position: absolute;
  top: 172px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.catalog-item:hover .catalog-item-image {
  opacity: 0.7;
}

.catalog-item:hover .catalog-item-popup {
  display: block;
}

.catalog-item-popup-compare {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.button.item-popup-button {
  margin-bottom: 8px;
}

.catalog-item-popup-compare:hover,
.catalog-item-popup-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item-popup-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-pages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
  margin-top: 35px;
  margin-bottom: 77px;
  width: 760px;
  margin-left: 72px;
}

.catalog-pages-previous {
  margin-right: auto;
}

.catalog-pages-next {
  margin-left: auto;
}

.catalog-pages-item a {
  display: block;
  padding: 0;
  padding-top: 24px;
  padding-left: 27px;
  min-height: 70px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.catalog-pages-previous a,
.catalog-pages-next a {
  padding-left: 30px;
  padding-right: 28px;
}

.catalog-pages-current a {
  padding-left: 10px;
}

.catalog-pages-item a:hover,
.catalog-pages-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-pages-item a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-pages-previous a,
.catalog-pages-next a {
  color: rgba(0, 0, 0, 1);
  background-color: #ebebeb;
}

.catalog-pages-previous a:hover,
.catalog-pages-previous a:focus,
.catalog-pages-next a:hover,
.catalog-pages-next a:focus {
  color: rgba(0, 0, 0, 1);
  background-color: #d9d9d9;
}

.catalog-pages-previous a:active,
.catalog-pages-next a:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-pages-current a {
  color: rgba(0, 0, 0, 1);
}
