
@font-face {
font-family: "Gilroy";
font-weight: 800;
font-style: normal;
src: url("../fonts/gilroyextrabold.woff") format("woff"),
url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
font-family: "Gilroy";
font-weight: 300;
font-style: normal;
src: url("../fonts/gilroylight.woff") format("woff"),
url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
font-family: "Open Sans";
font-weight: 400;
font-style: normal;
src: url("../fonts/opensans.woff") format("woff"),
url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
font-family: "Open Sans";
font-weight: 300;
font-style: normal;
src: url("../fonts/opensanslight.woff") format("woff"),
url("../fonts/opensanslight.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  /*
  width: 220px;
  min-height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: ;
  padding-right: ;  */
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f0c52e, #f0c52e);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
background-color: rgba(240, 197, 46, 0.5);
}

.main-navigation-user-search {
  margin: 0;
}

.main-navigation-user-search-input {
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.main-navigation-user-search-input:hover {
  opacity: 0.6;
}

.main-navigation-user-search-input:focus {
  border-bottom: 2px solid #000000;
}

.search-button {
  display: none;
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
  background-color: transparent;
  border: 2px solid #000000;
}

.main-navigation-user-search-input:focus + .search-button {
  display: inline-block;
}

.search-button:hover {
  color: #fff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation-user {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation-user a,
.main-navigation-user-item {
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
}

.main-navigation-user-logout a  {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-user a:hover,
.main-navigation-user-item:hover,
.main-navigation-user a:focus,
.main-navigation-user-item:focus  {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation-user a:active,
.main-navigation-user-item:active,
.main-navigation-user a:active,
.main-navigation-user-item:active  {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-site {
  margin: 0;
  list-style: none;
}

.main-navigation-site a {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-navigation-site a:hover,
.main-navigation-site a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation-site a:active  {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-site-submenu {
  display: none;
}

.main-navigation-site > li:hover .main-navigation-site-submenu {
  display: block;
}

.main-navigation-site-submenu,
.main-navigation-site-submenu-category {
  margin: 0;
  list-style: none;
}

.main-navigation-site-submenu a {
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;
}

.slider1-list {
  margin: 0;
  list-style: none;
}

.slider1-item {
  min-height: 488px;
}

.slider1-item:nth-child(1) {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: left 0% bottom 0px;
}

.slider1-item:nth-child(2) {
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: left 0% bottom 0px;
}

.slider1-item:nth-child(3) {
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
  background-position: left 0% bottom 0px;
}

.slider1-header {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.17px;

}

.slider1-item p {
  margin: 0;
  font: inherit;
  letter-spacing: 0.15px;
}

.slider1-item .slider1-number {
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  letter-spacing: 0.36px;
}

.slider1-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slider1-table-number {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.slider1-table-text {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.goods-list {
  margin: 0;
  list-style: none;
}

.goods-item a {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.goods-item a:hover,
.goods-item a:focus {

}

.goods-item a:active  {
  opacity: 0.3;
}

.slider2 {
  background-color: #e5e5e5;
}

.slider2-list {
  margin: 0;
  list-style: none;
}

.slider2-header {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.slider2-item p {
  margin: 0;
  font: inherit;
  letter-spacing: 0.15px;
}

.producers-list {
  margin: 0;
  list-style: none;
}

.about-us h2 {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.about-us-text {
  margin: 0;
  font: inherit;
}

.about-us-list {
  margin: 0;
  list-style: none;
}

.about-us-item {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.contacts h2 {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.contacts-text {
  margin: 0;
  font: inherit;
}

.contacts-map {
  margin: 0;
}

.main-footer {
  background-color: #464646;
}

.footer-contacts p {
  margin: 0;
  font: inherit;
}

.footer-navigation-site-list {
  margin: 0;
  list-style: none;
}

.footer-navigation-site-list a {
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-navigation-site-list a:hover,
.footer-navigation-site-list a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation-site-list a:active  {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-list {
  margin: 0;
  list-style: none;
}

.footer-navigation-user-list {
  margin: 0;
  list-style: none;
}

.footer-navigation-user-list a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}


.footer-navigation-user-logout a  {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation-user-list a:hover,
.footer-navigation-user-list a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-navigation-user-list a:active  {
  color: rgba(255, 255, 255, 0.3);
}

.footer-phone {
  font: inherit;
  color: #ffffff;
}

.footer-navigation-user .footer-htmlacademy-logo:hover,
.footer-navigation-user .footer-htmlacademy-logo:focus {
  opacity: 0.6;
}

.footer-navigation-user .footer-htmlacademy-logo:active {
  opacity: 0.3;
}

.modal-write-us {
  display: none;
}

.modal-map {
  display: none;
}

/* страница каталога */

.main-logo:hover,
.main-logo:focus,
.footer-contacts-logo:hover,
.footer-contacts-logo:focus {
  opacity: 0.6;
}

.main-logo:active,
.footer-contacts-logo:active {
  opacity: 0.3;
}

.page-title {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.17px;
}

.breadcrumbs {
  margin: 0;
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs li {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus  {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active  {
  color: rgba(0, 0, 0, 0.1);
}

.filters {
  background-color: #efefef;
}

.filters h2 {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.filter {
  margin: 0;
}

.filter fieldset {
  border: none;
  margin: 0;
}

.filter legend {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter-price-range ul {
  margin: 0;
  list-style: none;
}

.filter-price label,
.price-input {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.price-input {
  margin: 0;
  text-align: center;
  border: none;
  background-color: transparent;
}

.filter-colour ul {
  margin: 0;
  list-style: none;
}

.filter-option label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 1);
}

.filter-bluetooth ul {
  margin: 0;
  list-style: none;
}

.catalog-sort {
  background-color: #ebebeb;
}

.catalog-sort-title {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.catalog-sort-list {
  margin: 0;
  list-style: none;
}

.catalog-sort-item a {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.catalog-sort-item a:hover,
.catalog-sort-item a:focus {
   color: rgba(0, 0, 0, 0.6);
}

.catalog-sort-item a:active {
   color: rgba(0, 0, 0, 1);
}

.catalog-sort-arrows-list {
  margin: 0;
  list-style: none;
}

.catalog-sort-arrows-down a {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.catalog-sort-arrows-up a {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.catalog-sort-item.active a,
.catalog-sort-arrows-down.active a,
.catalog-sort-arrows-up.active a {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
}

.catalog-sort-arrows-down a:active,
.catalog-sort-arrows-up a:active {
  opacity: 1;
}

.catalog-sort-arrows-down a:hover,
.catalog-sort-arrows-up a:hover,
.catalog-sort-arrows-down a:focus,
.catalog-sort-arrows-up a:focus {
  opacity: 0.4;
}

.catalog-list {
  margin: 0;
  list-style: none;
}

.catalog-item {
  background-color: #eeeeee;
}

.catalog-item-image {
  margin: 0;
}

.catalog-item:hover .catalog-item-image {
  opacity: 0.7;
}

.catalog-item h3 {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.catalog-item span {
  color: #464646;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.catalog-item-popup-compare {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.catalog-item-popup-compare:hover,
.catalog-item-popup-compare:focus {
    color: rgba(0, 0, 0, 1);
}

.catalog-item-popup-compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-pages {
  margin: 0;
  list-style: none;
  background-color: #ebebeb;
}

.catalog-pages-item a {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.catalog-pages-item a:hover,
.catalog-pages-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-pages-item a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-pages-previous a,
.catalog-pages-next a {
  color: rgba(0, 0, 0, 1);
  background-color: #ebebeb;
}

.catalog-pages-previous a:hover,
.catalog-pages-previous a:focus,
.catalog-pages-next a:hover,
.catalog-pages-next a:focus {
  color: rgba(0, 0, 0, 1);
  background-color: #d9d9d9;
}

.catalog-pages-previous a:active,
.catalog-pages-next a:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-pages-current a {
  color: rgba(0, 0, 0, 1);
}
