
@font-face {
font-family: "Gilroy";
font-weight: 800;
font-style: normal;
src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
font-family: "Gilroy";
font-weight: 300;
font-style: normal;
src: url("../fonts/gilroylight.woff2") format("woff2"),
url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
font-family: "Open Sans";
font-weight: 400;
font-style: normal;
src: url("../fonts/opensans.woff2") format("woff2"),
url("../fonts/opensans.woff") format("woff");
}

@font-face {
font-family: "Open Sans";
font-weight: 300;
font-style: normal;
src: url("../fonts/opensanslight.woff2") format("woff2"),
url("../fonts/opensanslight.woff") format("woff");
}

/* html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
} */

body {
  /* position: relative; */
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: block;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 260px;
  min-height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 19px;
  padding-right: 19px;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f0c52e, #f0c52e);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider1-button {
  width: 220px;
}

.slider2-button {
  width: 160px;
}

.filter-button,
.item-popup-button {
  width: 200px;
}

.main-header {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 40px;
  /* margin-bottom: 44px; */
}

.main-navigation {
  position: relative;
  background-color: #f7e397;
  min-height: 86px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 47px;
  padding-top: 18px;
  /* margin-bottom: 113px; */
}

.main-navigation-inner {
  margin-bottom: 0px;
}

.main-logo {
  position: absolute;
  top: -17px;
  left: 60px;
  width: 163px;
  height: 35px;
}

.main-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 12px;
  outline: 2px solid white;
}

.main-navigation-user-search {
  margin: 0;
  width: 460px;
  outline: 2px solid red;
}

.main-navigation-user-search p {
  display: flex;
}

.main-navigation-user-search-input {
  position: relative;
  margin: 0;
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
  width: 355px;
  height: 49px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  opacity: 0.3;
  padding-left: 40px;
  box-sizing: border-box;
}

.main-navigation-user-search-input:hover {
  opacity: 0.6;
}

.main-navigation-user-search-input:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
  outline: 1px transparent;
}

.main-navigation-user-search p::before {
  position: absolute;
  content: "";
  top: 51px;
  left: 63px;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-button {
  display: none;
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
  background-color: transparent;
  border: 2px solid #000000;
  width: 85px;
  min-height: 49px;
  box-sizing: border-box;
}

.main-navigation-user-search-input:focus + .search-button {
  display: block;
}

.search-button:hover {
  color: #fff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation-user-wrapper {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-left:auto;
}

.main-navigation-user {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
  /* margin-left:auto; */
  outline: 2px solid green;
}

.main-navigation-user::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation-user a,
.main-navigation-user-item {
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
  /* text-align: right; */
}

.main-navigation-user a {
  padding-left: 26px;
}

.main-navigation-user-item {
  box-sizing: border-box;
  width: 120px;
  outline: 2px solid cyan;
}

.main-navigation-user-item.compare {
  position: relative;
  padding-right: 2px;
  padding-left: 47px;
}

.main-navigation-user-item.compare::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 27px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation-user-item.busket {
  position: relative;
  padding-left: 61px;
}

.main-navigation-user-item.busket::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 37px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation-user-logout a  {
  color: rgba(0, 0, 0, 0.3);
  padding-left: 22px;
}

.main-navigation-user a:hover,
.main-navigation-user-item:hover,
.main-navigation-user a:focus,
.main-navigation-user-item:focus  {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation-user a:active,
.main-navigation-user-item:active,
.main-navigation-user a:active,
.main-navigation-user-item:active  {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-site {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1040px;
  outline: 2px solid red;
  /* padding-bottom: 113px; */
  padding-bottom: 0px;
}

.main-navigation-catalog {
  position: relative;
}

.main-navigation-site-dropdown-item {
  padding-right: 26px;
    outline: 2px solid yellow;
}

.main-navigation-catalog::after {
  position: absolute;
  content: "";
  top: 3px;
  right: -27px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}


.main-navigation-site-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-left: auto;
  outline: 2px solid white;
}

.main-navigation-site-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}

.main-navigation-site-menu li {
  outline: 2px solid blue;
  margin-right: 33px;
}


.main-navigation-site-menu li:nth-child(1) {
  outline: 2px solid green;
  /* margin-left: auto; */
}

.main-navigation-site-menu li:nth-child(2) {
  outline: 2px solid blue;
  margin-right: 87px;
}

.main-navigation-site-menu li:nth-child(3) {
  outline: 2px solid green;
  margin-right: 0px;
  width: 140px;
  text-align: right;
}

.main-navigation-site-menu-contactslink {
  padding-left: 20px;
}

.main-navigation-site a {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-navigation-site a:hover,
.main-navigation-site a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation-site a:active  {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-site-submenu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid cyan;
  width: 1160px;
  left: -60px;
  background-color: #f7e397;
  z-index: 10;
  padding-bottom: 33px;
}


.main-navigation-site-dropdown-item:hover .main-navigation-site-submenu {
  display: block;
}

.main-navigation-site-submenu > li {
  display: flex;
  width: 600px;
  padding-left: 60px;
}

.main-navigation-site-submenu-category {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 19px;
  outline: 2px solid yellow;
}

.main-navigation-site-submenu-category:nth-child(2) li {
  padding-left: 38px;
}

.main-navigation-site-submenu-category li {
  width:200px;
}

.main-navigation-site-submenu a {
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;
}

.slider1 {
  position: relative;
  margin-bottom: 287px;
  outline: 2px solid cyan;
}

.slider1::before {
  position: absolute;
  content: "";
  background-color: #f7e397;
  width: 1160px;
  height: 113px;
  z-index: -1;
}

.slider1-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider1-item {
  min-height: 500px;
  width: 501px;
  padding-left: 600px;
}

.slider1-item:nth-child(1) {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: left 90px bottom 11px;
}

.slider1-item:nth-child(2) {
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: left 116px bottom 0px;
}

.slider1-item:nth-child(3) {
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
  background-position: left 32px bottom 97px;
}

.slider1-header {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.47px;
  padding-top: 80px;
  margin-bottom: 20px;
}

.slider1-header::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 100px;
  height: 7px;
  z-index: -1;
  top: 39px;
}

.slider1-text {
  margin: 0;
  font: inherit;
  letter-spacing: 0.15px;
  max-width: 490px;
  margin-bottom: 43px;
}

/* .slider1-item:nth-child(1) {
  display: none;
} */

.slider1-item:nth-child(2) {
  display: none;
}

.slider1-item:nth-child(3) {
  display: none;
}

.slider1-item:nth-child(2) .slider1-text {
  max-width: 460px;
}

.slider1-item:nth-child(3) .slider1-text {
  max-width: 460px;
}

.slider1-item .slider1-number {
  position: absolute;
  top: -190px;
  right: 45px;
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  letter-spacing: 1.79px;
  z-index: -1;
}

.slider1-button {
  margin-bottom: 50px;
}

.slider1-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slider1-table-number {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.slider1-table-text {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  padding-top: 50px;
}

.slider1-table-number td {
  min-width: 158px;
}

.slider1-table-number td:nth-child(2)  {
  min-width: 137px;
}

.slider1-table-text td {
  padding-top: 5px;
}

.goods {
  margin-bottom: 181px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid blue;
}

.goods-item {
  width: 160px;
  outline: 2px solid red;
  line-height: 24px;
}

.goods-item a {
  position: relative;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.goods-item a::before {
  position: absolute;
  content: "";
  /* bottom: 81px; */
  top: -194px;
  left: 0px;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  background-repeat: no-repeat;
  background-position: center;
}

.goods-item-image1 a::before {
  content: "";
  background-image: url("../img/popular-1.svg");
  background-position: 31px 52px;
}

.goods-item-image2 a::before {
  content: "";
  background-image: url("../img/popular-2.svg");
  /* background-position: center 96%; */
  background-position: 38px 41px;
}

.goods-item-image3 a::before {
  content: "";
  background-image: url("../img/popular-3.svg");
  /* background-position: 55% 49%; */
  background-position: 49px 38px;
}

.goods-item-image4 a::before {
  content: "";
  background-image: url("../img/popular-4.svg");
  /* background-position: center 53%; */
  background-position: 28px 50px;
}

.goods-item-image5 a::before {
  content: "";
  background-image: url("../img/popular-5.svg");
  /* background-position: 53% center; */
  background-position: 55px 32px;
}

.goods-item-image6 a::before {
  content: "";
  background-image: url("../img/popular-6.svg");
  background-position: 13px 49px;
}

.goods-item a:hover::before,
.goods-item a:focus::before {
  background-color: rgba(240, 197, 46, 1);
}

.goods-item a:active::before {
  background-image:none;
}

.goods-item a:active  {
  color: rgba(0, 0, 0, 0.3);
}

.goods-item-image1 a:active::after {
  content: "";
  width: 97px;
  height: 55px;
  position: absolute;
  top: -142px;
  left: 31px;
  background: transparent;
  background-image: url("../img/popular-1.svg");
  opacity: 0.3;
}

.goods-item-image2 a:active::after {
  content: "";
  width: 86px;
  height: 117px;
  position: absolute;
  top: -153px;
  left: 38px;
  background: transparent;
  background-image: url("../img/popular-2.svg");
  opacity: 0.3;
}

.goods-item-image3 a:active::after {
  content: "";
  width: 71px;
  height: 87px;
  position: absolute;
  top: -156px;
  left: 49px;
  background: transparent;
  background-image: url("../img/popular-3.svg");
  opacity: 0.3;
}

.goods-item-image4 a:active::after {
  content: "";
  width: 107px;
  height: 65px;
  position: absolute;
  top: -144px;
  left: 28px;
  background: transparent;
  background-image: url("../img/popular-4.svg");
  opacity: 0.3;
}

.goods-item-image5 a:active::after {
  content: "";
  width: 56px;
  height: 98px;
  position: absolute;
  top: -162px;
  left: 55px;
  background: transparent;
  background-image: url("../img/popular-5.svg");
  opacity: 0.3;
}

.goods-item-image6 a:active::after {
  content: "";
  width: 132px;
  height: 69px;
  position: absolute;
  top: -145px;
  left: 13px;
  background: transparent;
  background-image: url("../img/popular-6.svg");
  opacity: 0.3;
}

.slider2 {
  background-color: #e5e5e5;
  width: 100%;
  min-height: 288px;
  margin-bottom: 94px;
}

.slider2-container {
  position: relative;
  outline: 2px solid blue;
}

.slider2-wrapper {
  position: absolute;
  top: -27px;
  display: flex;
  outline: 2px solid red;
}

.slider2-controls {
  width: 400px;
}

.slider2-list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* width: 1160px;
  margin: 0 auto;
  padding: 0 20px; */
  outline: 2px solid green;
}

.slider2-item {
  width: 460px;
  padding-right: 240px;
}

.slider2-item:nth-child(2) {
  display: none;
}

.slider2-item:nth-child(3) {
  display: none;
}

.slider2-header {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  margin-bottom: 30px;
}

.slider2-item p {
  margin: 0;
  font: inherit;
  letter-spacing: 0.15px;
}

.slider2-item:nth-child(3) p {
  width: 425px;
}


.producers {
  outline: 2px solid red;
  margin-bottom: 106px;
}

.producers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.producers-item {
  width: 260px;
  height: 100px;
  outline: 2px solid blue;
}

.dji:hover {
  background-image: url("../img/producers-item1.png");
}

.spgadgets:hover {
  background-image: url("../img/producers-item2.png");
}

.gopro:hover {
  background-image: url("../img/producers-item3.png");
}

.vive:hover {
  background-image: url("../img/producers-item4.png");
}

.description-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
  outline: 2px solid yellow;
}

.about-us {
  width: 472px;
}

.about-us h2 {
  position: relative;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  margin-bottom: 44px;
}

.about-us h2::before {
  position: absolute;
  content: "";
  background-color: #000;
  width: 80px;
  height: 7px;
  top: -52px;
}

.about-us-text {
  margin: 0;
  font: inherit;
  margin-bottom: 30px;
}

.about-us-text:last-of-type {
  margin-bottom: 65px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 54px;
  padding-left: 36px;
}

.about-us-item {
  position: relative;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.about-us-item::before {
  position: absolute;
  content: "";
  top: 16px;
  left: -34px;
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts {
  width: 560px;
}

.contacts h2 {
  position: relative;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  margin-bottom: 44px;
}

.contacts h2::before {
  position: absolute;
  content: "";
  background-color: #000;
  width: 80px;
  height: 7px;
  top: -52px;
}

.contacts-text {
  margin: 0;
  font: inherit;
  margin-bottom: 38px;
}

.contacts-map {
  margin: 0;
  width: 560px;
  height: 222px;
  background-color: #e9e9e9;
  margin-bottom: 69px;
}

.main-footer {
  background-color: #464646;
  width: 100%;
  padding-top: 65px;
  padding-bottom: 66px;
  /* margin-bottom: ; */
  /* outline: 2px solid red; */
}

.footer-columns {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  outline: 2px solid red;
}

.footer-columns::after {
  position: absolute;
  content: "";
  background-color: #ffc600;
  width: 80px;
  height: 7px;
  bottom: 13px;
}

.footer-contacts {
  width: 260px;
}

.footer-contacts-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-bottom: 30px;
}

.footer-contacts p {
  margin: 0;
  font: inherit;
  color: #ffffff;
}

.footer-navigation-site {
  width: 428px;
  margin-top: 68px;
  margin-left: 107px;
  outline: 2px solid yellow;
}

.footer-navigation-site-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid cyan;
  margin-bottom: 60px;
}

.footer-navigation-site-list a {
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-navigation-site-list a:hover,
.footer-navigation-site-list a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation-site-list a:active  {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid cyan;
  width: 140px;
  margin: 0 auto;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
}

.button-fb {
  background-image: url("../img/fb.svg");
}

.button-insta {
  background-image: url("../img/instagram.svg");
}

.button-tw {
  background-image: url("../img/twitter.svg");
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.footer-navigation-user {
  /* width: 350px; */
  width: 180px;
  margin-left: auto;
  outline: 2px solid blue;
}

.footer-navigation-user-wrapper {
  position: absolute;
  top: -6px;
  right: 20px;
  display: flex;
  /* justify-content: flex-end; */
  outline: 2px solid green;
  /* margin-bottom: 55px; */
  min-width: 480px;
}

.footer-navigation-user-list {
  display: flex;
  justify-content: flex-end;
  min-width: 240px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid white;
}

.footer-navigation-user-list li {
  outline: 2px solid red;
  padding-left: 8px;
  padding-right: 13px;
}

.footer-navigation-user-list li:first-child {
  padding-left: 30px;
}

.footer-navigation-user-login {
  position: relative;
}

.footer-navigation-user-login::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 13px;
  left: 2px;
  background: transparent;
  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-navigation-user-item.compare {
  position: relative;
}

.footer-navigation-user-item.compare::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 28px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-navigation-user-item.busket {
  position: relative;
}

.footer-navigation-user-item.busket::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 37px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-navigation-user-wrapper a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-align: right;
}

.footer-navigation-user-wrapper > a {
  min-width: 120px;
  padding-left: 40px;
  outline: 2px solid orange;
  box-sizing: border-box;

}

.footer-navigation-user-logout a  {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation-user-wrapper a:hover,
.footer-navigation-user-wrapper a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-navigation-user-wrapper a:active  {
  color: rgba(255, 255, 255, 0.3);
}

.footer-phone {
  display: block;
  font: inherit;
  color: #ffffff;
  text-align: right;
  margin-top: 65px;
  margin-bottom: 62px;
}

.footer-htmlacademy-logo {
  display: block;
  width: 27px;
  height: 35px;
  margin-left: auto;
}

.footer-navigation-user .footer-htmlacademy-logo:hover,
.footer-navigation-user .footer-htmlacademy-logo:focus {
  opacity: 0.6;
}

.footer-navigation-user .footer-htmlacademy-logo:active {
  opacity: 0.3;
}

.modal-write-us {
  display: none;
}

.modal-map {
  display: none;
}

/* страница каталога */

/* .main-inner-page {
  width: 100%;
  background-color: #ebebeb;
} */

/* .main-inner-wrapper {
  outline: 2px solid red;
  background-color: #ffffff;
} */

.inner-logo:hover,
.inner-logo:focus {
  opacity: 0.6;
}

.inner-logo:active {
  opacity: 0.3;
}

.page-title {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  margin-top: 37px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 60px;
  margin-bottom: 44px;
}

.breadcrumbs a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li {
  position: relative;
  padding-right: 39px;
}

.breadcrumbs li:nth-child(2) {
  padding-right: 35px;
}

.breadcrumbs li::after {
  position: absolute;
  content: "";
  top: 13px;
  right: 19px;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:last-child::after {
display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus  {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active  {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-wrapper {
  display: flex;
}

.filters {
  /* background-color: #ebebeb; */
  /* width: 328px; */
  flex-grow: 1;
  outline: 2px solid green;
}

.filters-form-header-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: #dcdcdc;
}

.filters h2 {
  display: block;
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  background-color: #d9d9d9;
  min-height: 70px;
  width: 328px;
  padding-top: 23px;
  padding-left: 62px;
  outline: 2px solid red;
  box-sizing: border-box;
}

.filter-form-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: #efefef;
}

.filter {
  margin: 0;
  margin-top: 69px;
  width: 328px;
  outline: 2px solid red;
  padding-left: 48px;
  box-sizing: border-box;
}

.filter fieldset {
  border: none;
  margin: 0;
  /* margin-bottom: 55px; */
}

.filter legend {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter-price-range {
  position: relative;
}

.filter-price-range::before {
  position: absolute;
  content: "";
  background-color: #000;
  width: 201px;
  height: 2px;
  top: 0px;
}

.filter-price-range::after {
  position: absolute;
  content: "";
  background-color: #000;
  width: 201px;
  height: 2px;
  bottom: -1px;
}

.filter-price-range legend {
  padding-top: 12px;
}

.filter-price-range ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-price label,
.price-input {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.price-input {
  margin: 0;
  text-align: center;
  border: none;
  background-color: transparent;
}

.filter-colour {
  position: relative;
  outline: 2px solid cyan;
}

.filter-colour::after {
  position: absolute;
  content: "";
  background-color: #000;
  width: 201px;
  height: 2px;
  bottom: 0px;
}

.filter-colour legend {
  padding-top: 11px;
  margin-bottom: 13px;
}

.filter-colour ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 24px;
}

.filter-colour .filter-option {
  outline: 2px solid yellow;
  padding-left: 38px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 8px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -39px;
  top: 8px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 0.6;
}

.filter-input-checkbox:active + label::before,
.filter-input-checkbox:checked:active + label::after {
  opacity: 1;
}

.filter-bluetooth legend {
  padding-top: 10px;
  margin-bottom: 13px;
}

.filter-bluetooth ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-bluetooth .filter-option {
  outline: 2px solid yellow;
  padding-left: 38px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 6px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  display: none;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -39px;
  top: 6px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  opacity: 0.6;
}

.filter-input-radio:active + label::before,
.filter-input-radio:checked:active + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  color: #a6a6a6;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::after,
.filter-input-radio:disabled + label::after {
  opacity: 0.25;
}

.filter-input-checkbox:checked:disabled + label::before,
.filter-input-radio:checked:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-radio:checked:disabled + label::after {
  opacity: 0.25;
}

.filter-button {
  margin-top: 21px;
  margin-left: 12px;
}

.catalog {
  /* width: 832px; */
  flex-grow: 1;
  outline: 2px solid green;
}

.catalog-header-wrapper {
  display: flex;
  background-color: #ebebeb;
  margin-bottom: 69px;
}

.catalog-sort {
  display: flex;
  /* background-color: #ebebeb; */

  min-height: 70px;
  width: 832px;
}

.catalog-sort-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid tomato;
  margin-left: 55px;
  width: 100%;
}

.catalog-sort-title {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin-top: 23px;
  margin-left: 74px;
}

.catalog-sort-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-sort-item a {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-right: 30px;
}

.catalog-sort-item a:hover,
.catalog-sort-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort-item a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-sort-arrows-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}

.catalog-sort-arrows-down a {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
  margin-left: 19px;
}

.catalog-sort-arrows-up a {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.catalog-sort-item.active a,
.catalog-sort-arrows-down.active a,
.catalog-sort-arrows-up.active a {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
}

.catalog-sort-arrows-down a:active,
.catalog-sort-arrows-up a:active {
  opacity: 1;
}

.catalog-sort-arrows-down a:hover,
.catalog-sort-arrows-up a:hover,
.catalog-sort-arrows-down a:focus,
.catalog-sort-arrows-up a:focus {
  opacity: 0.4;
}


.catalog-main-wrapper {
  display: flex;
  background-color: #fff;
  /* margin-bottom: 12px; */
}

.catalog-list-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 832px;
  outline: 2px solid red;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  outline: 2px solid cyan;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-top: 46px;
  outline: 2px solid tomato;
}

.catalog-item:nth-child(1),
.catalog-item:nth-child(2) {
  margin-top: 0px;
}

.catalog-item-image {
  background-color: #eeeeee;
  margin: 0;
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}

.catalog-item-price {
  display: flex;
  justify-content: space-between;
  outline: 2px solid blue;
}

.catalog-item-price-title {
  margin: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  width: 260px;
  outline: 2px solid cyan;
}

.catalog-item:nth-child(2) .catalog-item-price-title {
    width: 230px;
}

.catalog-item span {
  color: #464646;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
  width: 100px;
  outline: 2px solid green;
  text-align: right;
}

.catalog-item-popup {
  display: none;
  position: absolute;
  outline: 2px solid cyan;
  top: 172px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.catalog-item:hover .catalog-item-image {
  opacity: 0.7;
}

.catalog-item:hover .catalog-item-popup {
  display: block;
}

.catalog-item-popup-compare {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.button.item-popup-button {
  margin-bottom: 8px;
}

.catalog-item-popup-compare:hover,
.catalog-item-popup-compare:focus {
    color: rgba(0, 0, 0, 1);
}

.catalog-item-popup-compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-pages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
  margin-top: 35px;
  margin-bottom: 77px;
  width: 760px;
  margin-left: 72px;
}

.catalog-pages-item {
  padding-top: 20px;
  padding-left: 27px;
  min-height: 70px;
  box-sizing: border-box;
}

.catalog-pages-previous {
  padding-left: 0;
  margin-right: auto;
  margin-left: 30px;
}

.catalog-pages-next {
  padding-left: 0;
  margin-right: 27px;
  margin-left: auto;
}

.catalog-pages-current {
  padding-left: 6px;
}

.catalog-pages-item a {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.catalog-pages-item a:hover,
.catalog-pages-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-pages-item a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-pages-previous a,
.catalog-pages-next a {
  color: rgba(0, 0, 0, 1);
  background-color: #ebebeb;
}

.catalog-pages-previous a:hover,
.catalog-pages-previous a:focus,
.catalog-pages-next a:hover,
.catalog-pages-next a:focus {
  color: rgba(0, 0, 0, 1);
  background-color: #d9d9d9;
}

.catalog-pages-previous a:active,
.catalog-pages-next a:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-pages-current a {
  color: rgba(0, 0, 0, 1);
}
